In [1]:
import numpy as np
import pandas as pd

In [4]:
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer,KNNImputer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [13]:
df = pd.read_csv('tested.csv')[['Age','Pclass','Fare','Survived']]
df.head()

    Age  Pclass     Fare  Survived
0  34.5       3   7.8292         0
1  47.0       3   7.0000         1
2  62.0       2   9.6875         0
3  27.0       3   8.6625         0
4  22.0       3  12.2875         1

In [17]:
X=df.drop('Survived',axis=1)
y=df['Survived']

In [18]:
x

      Age  Pclass      Fare
0    34.5       3    7.8292
1    47.0       3    7.0000
2    62.0       2    9.6875
3    27.0       3    8.6625
4    22.0       3   12.2875
..    ...     ...       ...
413   NaN       3    8.0500
414  39.0       1  108.9000
415  38.5       3    7.2500
416   NaN       3    8.0500
417   NaN       3   22.3583

[418 rows x 3 columns]

In [19]:
X_train,X_test,y_train,y_test=train_test_split(X,y,
                                               test_size=0.2,
                                               random_state=42)

In [21]:
X_train.head()

      Age  Pclass     Fare
336  32.0       2  13.0000
31   24.0       2  31.5000
84    NaN       2  10.7083
287  24.0       1  82.2667
317  19.0       2  10.5000

In [50]:
knn=KNNImputer(n_neighbors=2,weights='distance')
X_train_trf = knn.fit_transform(X_train)
X_test_trf = knn.transform(X_test)

In [51]:
X_train_trf

array([[32.    ,  2.    , 13.    ],
       [24.    ,  2.    , 31.5   ],
       [26.    ,  2.    , 10.7083],
       ...,
       [46.    ,  1.    , 75.2417],
       [24.    ,  2.    , 13.5   ],
       [48.75  ,  3.    ,  7.75  ]])

In [52]:
lr = LogisticRegression()

lr.fit(X_train_trf,y_train)

y_pred = lr.predict(X_test_trf)

accuracy_score(y_test,y_pred)

0.6071428571428571

In [53]:
# Comparision with Simple Imputer --> mean

si = SimpleImputer()

X_train_trf2 = si.fit_transform(X_train)
X_test_trf2 = si.transform(X_test)

In [54]:
lr = LogisticRegression()

lr.fit(X_train_trf2,y_train)

y_pred2 = lr.predict(X_test_trf2)

accuracy_score(y_test,y_pred2)

0.6071428571428571