In [89]:
class MyLr:
   def __init__(self):
       self.a=None
       self.b=None
   def fit(self,X_train,y_train):
      num=0
      den=0
      X_mean=X_train.mean()
      y_mean=y_train.mean()
      for i in range(X_train.shape[0]):
           num=num+(X_train[i]-X_mean)*(y_train[i]-y_mean)
           den=den+(X_train[i]-X_mean)*(X_train[i]-y_mean)
      self.m=num/den
      self.b=y_train.mean() - (self.m*X_train.mean())
      print(self.m)
      print(self.b)
   def prediction(self,X_test):
        print(X_test)
        return self.m * X_test +self.b

In [90]:
import pandas as pd 
import numpy as np

In [91]:
from sklearn.model_selection import train_test_split

In [92]:
df=pd.read_csv('placement.csv')
df.head()

   cgpa  package
0  6.89     3.26
1  5.12     1.98
2  7.82     3.25
3  7.42     3.67
4  6.94     3.57

In [93]:
df.shape

(200, 2)

In [94]:
df.describe()

             cgpa     package
count  200.000000  200.000000
mean     6.990500    2.996050
std      1.069409    0.691644
min      4.260000    1.370000
25%      6.190000    2.487500
50%      6.965000    2.995000
75%      7.737500    3.492500
max      9.580000    4.620000

In [95]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   cgpa     200 non-null    float64
 1   package  200 non-null    float64
dtypes: float64(2)
memory usage: 3.3 KB

In [96]:
X=df.iloc[:,0:1]
y=df.iloc[:,1:]

In [97]:
X_train,X_test,y_train,y_test=train_test_split(X,y,
                                               test_size=0.2,
                                               random_state=42)

In [98]:
X_train.shape

(160, 1)

In [99]:
lr=MyLr()

In [100]:
X_train = X_train.values
y_train = y_train.values

In [101]:
lr.fit(X_train,y_train)

[0.57425647]
[-1.02700694]