In [1]:
import numpy as np 
import pandas as pd
import m

In [3]:
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer

In [6]:
df = pd.read_csv('train.csv',usecols=['GarageQual','FireplaceQu','SalePrice'])
df

     FireplaceQu GarageQual  SalePrice
0            NaN         TA     208500
1             TA         TA     181500
2             TA         TA     223500
3             Gd         TA     140000
4             TA         TA     250000
...          ...        ...        ...
1455          TA         TA     175000
1456          TA         TA     210000
1457          Gd         TA     266500
1458         NaN         TA     142125
1459         NaN         TA     147500

[1460 rows x 3 columns]

In [9]:
df.isnull().sum()

FireplaceQu    690
GarageQual      81
SalePrice        0
dtype: int64

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   FireplaceQu  770 non-null    object
 1   GarageQual   1379 non-null   object
 2   SalePrice    1460 non-null   int64
dtypes: int64(1), object(2)
memory usage: 34.3+ KB

In [11]:
df.describe()

           SalePrice
count    1460.000000
mean   180921.195890
std     79442.502883
min     34900.000000
25%    129975.000000
50%    163000.000000
75%    214000.000000
max    755000.000000

In [13]:
X=df.drop('SalePrice',axis=1)
y=df['SalePrice']

In [14]:
X_train,X_test,y_train,y_test=train_test_split(X,y,
                                               test_size=0.2,
                                               random_state=42)

In [16]:
X_train.shape

(1168, 2)

In [18]:
X_test.shape

(292, 2)

In [19]:
imputer=SimpleImputer(strategy='most_frequent')

In [20]:
X_train=imputer.fit_transform(X_train)
X_test=imputer.fit_transform(X_test)

In [22]:
imputer.statistics_

array(['Gd', 'TA'], dtype=object)

In [21]:
X_train

array([['Gd', 'TA'],
       ['TA', 'TA'],
       ['Gd', 'TA'],
       ...,
       ['Gd', 'TA'],
       ['Gd', 'TA'],
       ['TA', 'TA']], dtype=object)