In [2]:
import pandas as pd 
import numpy as np
import seaborn as sns

In [41]:
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression

In [42]:
df=pd.read_csv('tested.csv')[['Age','Pclass','SibSp','Parch','Survived']]

In [43]:
df.isnull().sum()

Age         86
Pclass       0
SibSp        0
Parch        0
Survived     0
dtype: int64

In [44]:
df.dropna(inplace=True)

In [45]:
df.head()

    Age  Pclass  SibSp  Parch  Survived
0  34.5       3      0      0         0
1  47.0       3      1      0         1
2  62.0       2      0      0         0
3  27.0       3      0      0         0
4  22.0       3      1      1         1

In [46]:
df.isnull().sum()

Age         0
Pclass      0
SibSp       0
Parch       0
Survived    0
dtype: int64

In [47]:
X=df.iloc[:,0:4]
y=df.iloc[:,4]

In [48]:
np.mean(cross_val_score(LogisticRegression(),X,y,scoring='accuracy',cv=20))

np.float64(0.6238970588235293)

## Apllying feature construction

In [49]:
X['Family_size']=X['SibSp']+X['Parch']+1

In [50]:
X

      Age  Pclass  SibSp  Parch  Family_size
0    34.5       3      0      0            1
1    47.0       3      1      0            2
2    62.0       2      0      0            1
3    27.0       3      0      0            1
4    22.0       3      1      1            3
..    ...     ...    ...    ...          ...
409   3.0       3      1      1            3
411  37.0       1      1      0            2
412  28.0       3      0      0            1
414  39.0       1      0      0            1
415  38.5       3      0      0            1

[332 rows x 5 columns]

In [51]:
def myfunc(num):
    if num == 1:
        #alone
        return 0
    elif num >1 and num <=4:
        # small family
        return 1
    else:
        # large family
        return 2

In [52]:
myfunc(1)

0

In [53]:
X['Family_type']=X['Family_size'].apply(myfunc)

In [54]:
X

      Age  Pclass  SibSp  Parch  Family_size  Family_type
0    34.5       3      0      0            1            0
1    47.0       3      1      0            2            1
2    62.0       2      0      0            1            0
3    27.0       3      0      0            1            0
4    22.0       3      1      1            3            1
..    ...     ...    ...    ...          ...          ...
409   3.0       3      1      1            3            1
411  37.0       1      1      0            2            1
412  28.0       3      0      0            1            0
414  39.0       1      0      0            1            0
415  38.5       3      0      0            1            0

[332 rows x 6 columns]

In [55]:
X.drop(columns=['SibSp','Parch','Family_size'],inplace=True)

In [58]:
X

      Age  Pclass  Family_type
0    34.5       3            0
1    47.0       3            1
2    62.0       2            0
3    27.0       3            0
4    22.0       3            1
..    ...     ...          ...
409   3.0       3            1
411  37.0       1            1
412  28.0       3            0
414  39.0       1            0
415  38.5       3            0

[332 rows x 3 columns]

In [72]:
np.mean(cross_val_score(LogisticRegression(),X,y,scoring='accuracy',cv=14))

np.float64(0.6145186335403726)