In [34]:
import pandas as pd
import seaborn as sns 
import pandas as pd
import numpy as np

In [35]:
df=pd.read_csv('customer.csv')
df.sample(5)

    age  gender   review education purchased
1    68  Female     Poor        UG        No
8    65  Female  Average        UG        No
5    31  Female  Average    School       Yes
38   45  Female     Good    School        No
22   18  Female     Poor        PG       Yes

In [36]:
df = df.iloc[:,2:]
df.sample(5)

     review education purchased
33     Good        PG       Yes
34  Average    School        No
48     Good        UG       Yes
28     Poor    School        No
41     Good        PG       Yes

In [37]:
from sklearn.model_selection import train_test_split 
X_train,X_test,y_train,y_test=train_test_split(df.drop('purchased', axis=1),
                                               df['purchased'],
                                               test_size=0.2,
                                               random_state=0)

X_train.shape,X_test.shape

((40, 2), (10, 2))

In [38]:
from sklearn.preprocessing import OrdinalEncoder
oe = OrdinalEncoder(categories=[['Poor','Average','Good'],['School','UG','PG']])

oe.fit(X_train)
X_train = oe.transform(X_train)

array([[2., 2.],
       [0., 0.],
       [0., 2.],
       [1., 0.],
       [2., 0.],
       [0., 0.],
       [0., 2.],
       [0., 2.],
       [2., 1.],
       [1., 1.],
       [0., 1.],
       [1., 1.],
       [1., 1.],
       [0., 1.],
       [2., 2.],
       [1., 0.],
       [0., 2.],
       [1., 1.],
       [1., 0.],
       [2., 0.],
       [1., 0.],
       [0., 1.],
       [2., 0.],
       [2., 1.],
       [0., 1.],
       [0., 0.],
       [1., 2.],
       [1., 2.],
       [2., 0.],
       [2., 0.],
       [2., 1.],
       [1., 2.],
       [0., 2.],
       [2., 1.],
       [0., 2.],
       [0., 2.],
       [2., 2.],
       [1., 0.],
       [2., 2.],
       [1., 1.]])

In [40]:
oe.categories_

[array(['Poor', 'Average', 'Good'], dtype=object),
 array(['School', 'UG', 'PG'], dtype=object)]

In [42]:
X_train

array([[2., 2.],
       [0., 0.],
       [0., 2.],
       [1., 0.],
       [2., 0.],
       [0., 0.],
       [0., 2.],
       [0., 2.],
       [2., 1.],
       [1., 1.],
       [0., 1.],
       [1., 1.],
       [1., 1.],
       [0., 1.],
       [2., 2.],
       [1., 0.],
       [0., 2.],
       [1., 1.],
       [1., 0.],
       [2., 0.],
       [1., 0.],
       [0., 1.],
       [2., 0.],
       [2., 1.],
       [0., 1.],
       [0., 0.],
       [1., 2.],
       [1., 2.],
       [2., 0.],
       [2., 0.],
       [2., 1.],
       [1., 2.],
       [0., 2.],
       [2., 1.],
       [0., 2.],
       [0., 2.],
       [2., 2.],
       [1., 0.],
       [2., 2.],
       [1., 1.]])